.env
db.sqlite3
debug.log
petnet.log
direct/
logs/

authy/__pycache__
authy/migrations

chat/__pycache__
chat/migrations

comment/__pycache__
comment/migrations

petnet/__pycache__


post/__pycache__
post/migrations

stories/__pycache__
stories/migrations

notifications/__pycache__
notifications/migrations


screenshots
