{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      {% block title %} Pet Net {% endblock %}
  </title>
  <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bulma@1.0.1/css/bulma.min.css">
    <link rel="stylesheet" href="{% static 'css/bulma.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
      <style>
        html, body {
            height: 100%;
            margin: 0;
            display: flex;
            flex-direction: column;
        }
        .content-wrapper {
            flex: 1;
        }

        .navbar-fixed-top {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1000;
    }
    body {
        padding-top: 52px; /* Adjust this value based on your navbar height */
    }
    </style>
      {% block styles %}{% endblock %}
      {% block scripts %}{% endblock %}
  </head>
  <body>

    <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="{% url 'newsfeed' %}">
        <img src="{% static 'img/avatar.jpg' %}" width="64" height="64">
      </a>
  
      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <!-- <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a href="{% url 'newsfeed' %}" class="navbar-item">
          <i class="material-icons">home</i>
          Home
        </a> -->
        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
              <a href="{% url 'explore' %}" class="navbar-item">
                <i class="material-icons">explore</i>
                Explore
              </a>

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            <img src="{% static 'img/finding.jpg' %}" alt="Cat Face" width="24" height="24">
            Lost-Found
          </a>
          
          <div class="navbar-dropdown">
            <a href="{% url 'function-feed' 'lost' %}" class="navbar-item">Lost</a>
            <a href="{% url 'function-feed' 'found' %}" class="navbar-item">Found</a>
          </div>
        </div>
  
        <a href="{% url 'notifications:show-notifications' %}" class="navbar-item">
          <i class="material-icons">notifications</i>
          Notifications
          {% if count_notifications != 0 %}
            <span class="badge" id="notification-count">{{ count_notifications }}</span>
          {% else %}
          <span id="notification-count" class="badge" style="display: none;">0</span>
          {% endif %}
        </a>
  
        <a href="{% url 'chat:inbox' %}" class="navbar-item">
          <i class="material-icons">inbox</i>
          Inbox
          {% if count_messages != 0 %}
          <span class='badge' id="message-count">{{ count_messages }}</span>
       
          
          {% else %}
          <span class="badge" id ="message-count" style="display:none;">0</span>
          {% endif %}
        </a>
  
        <a href="{% url 'profile' requesting_profile.slug %}" class="navbar-item">
          <i class="material-icons">face</i>
          Profile
        </a>
  
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            <i class="material-icons">add_box</i>
            New Post
          </a>
          <div class="navbar-dropdown">
            <a href="{% url 'post:newpost' %}" class="navbar-item">New Post</a>
            <a href="{% url 'post:new-function-post' 'lost' %}" class="navbar-item">New Lost Post</a>
            <a href="{% url 'post:new-function-post' 'found' %}" class="navbar-item">New Found Post</a>
          </div>
        </div>
  
        <a href="{% url 'stories:newstory' %}" class="navbar-item">
          <i class="material-icons">photo_filter</i>
          New Story
        </a>
  
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            <i class="material-icons">settings</i>
            Settings
          </a>
          <div class="navbar-dropdown">
            <a class="navbar-item">Change password</a>
            <a class="navbar-item">Contact</a>
            <a class="navbar-item">Report an issue</a>
            <hr class="navbar-divider">
            <a href="{% url 'authy:logout' %}" class="navbar-item">Log out</a>
          </div>
        </div>
      </div>
    </div>
  </nav>
  {% block banner %}
  {% endblock %}

  <div id="notification-area" style="position: fixed; top: 20px; right: 20px;"></div>

<div class="content-wrapper">
  <section class="section">
      <div class="container">
          {% block content %}{% endblock %}
          {% block pagination %}{% endblock %}
      </div>
  </section>
</div>


<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="{% static 'js/init.js' %}"></script>
<script>
  // Notifications WebSocket
  const notificationSocket = new WebSocket(
      'ws://' + window.location.host + '/ws/notifications/'
  );

  notificationSocket.onmessage = function(e) {
    const data = JSON.parse(e.data);
    let array = ['new_comment', 'new_like', 'new_follow','embedding_completed'];
    let delete_array = ['delete_like','delete_follow'];
    if (array.includes(data.action)) {
        updateCountNoti(1);
        console.log(`New comment on post ${data.post_id} by ${data.comment_user}: ${data.comment_text}`);
        // Update UI to show new notification
    } else if (delete_array.includes(data.action)) {
        // Handle comment deletion notification
        updateCountNoti(-1);
        console.log(`Comment deleted on post ${data.post_id}`);
        // Update UI to reflect comment deletion
    } else if (data.action == 'delete_comment'){
      var delete_noti = data.count;
      updateCountNoti(delete_noti);

    }
  };

  notificationSocket.onclose = function(e) {
      console.log(e);
      console.error('Notification socket closed unexpectedly');
  };

  function showNotification(message) {
      const notificationArea = document.getElementById('notification-area');
      const notification = document.createElement('div');
      notification.textContent = message;
      notification.style.backgroundColor = '#f8f9fa';
      notification.style.border = '1px solid #dee2e6';
      notification.style.borderRadius = '4px';
      notification.style.padding = '10px';
      notification.style.marginBottom = '10px';
      notificationArea.appendChild(notification);

      // Remove notification after 5 seconds
      setTimeout(() => {
          notification.remove();
      }, 5000);
  }

  function updateCountNoti(num=1){
    var badge = document.getElementById('notification-count');

    if (badge) {
      // Parse the current count as an integer
      var currentCount = parseInt(badge.textContent, 10) || 0;
      // Increment the count by 1 if up == true
      var newCount = currentCount + num;
      // if (up){
      //   newCount = currentCount + 1;

      // }
      // else {
      //   newCount = Math.max(currentCount - 1,0);
      // }
      
      // Update the badge text
      badge.textContent = newCount;
      if (newCount>0){
        badge.style.display = 'inline'; // Ensure the badge is visible

      } else {
        badge.style.display = 'none';
      }
      
    }
  }



</script>
</html>