{% load static %}
{% load humanize %}

{% for item in post_items %}
  <div class="card">
  <div class="card-image">
    <figure class="image is-5by3">
      <a href="{{ item.post_item.get_absolute_url }}">
        <img src="{{ item.post_item.content.first.file.url }}" alt="Placeholder image">
      </a>
    </figure>

  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-48x48">
          {% if item.post_item.user.profile.picture %}
            <img src="{{ item.post_item.user.profile.picture.url }}" alt="Placeholder image">
          {% else %}
            <img src="{% static 'img/avatar_placeholder.png' %}" alt="Placeholder image">
          {% endif %}
        </figure>
      </div>
      <div class="media-content">
        {% if item.post_item.user.profile.first_name %}
          <a href="{% url 'profile' item.post_item.user.profile.slug %}"><p class="title is-4">{{ item.post_item.user.profile.first_name }} {{ item.post_item.user.profile.last_name }}</p></a>
        {% else %}
          <a href="{% url 'profile' item.post_item.user.profile.slug %}"><p class="title is-4">{{ item.post_item.user.get_short_name }}</p></a>
        {% endif %}

        <p class="subtitle is-6"><a href="{% url 'profile' item.post_item.user.profile.slug %}">@{{ item.post_item.user.get_short_name }}</a></p>

      {{ item.post_item.caption }}
      {% if option == 'lost' %}
      
      <p><strong>Địa điểm lạc: </strong>
        {% if item.post_item.geotag %} {{ item.post_item.geotag }}{% else %}Không có thông tin{% endif %}</p>
      <p><strong>Thời gian lạc:</strong> {% if item.post_item.lost_time %} {{ item.post_item.lost_time}}{% else %}Không có thông tin{% endif %}</p>

      {% else %}
      <p><strong>Địa điểm thấy:</strong> 
        {% if item.post_item.geotag %} {{ item.post_item.geotag }}{% else %}Không có thông tin{% endif %}</p>
      <p><strong>Thời gian thấy:</strong> {% if item.post_item.found_time %} {{ item.post_item.found_time }}{% else %}Không có thông tin{% endif %}</p>

      {% endif %}
      <p>{% for tag in item.post_item.tags.all %}<a href="{{ tag.get_absolute_url }}">#{{ tag }}</a>{% endfor %}</p>
      <br>
      <strong><small>{{ item.post_item.posted | naturaltime }}</small></strong>
      </div>


    <div class="media-right">
      <div class="level is-mobile mt-3">
        <div class="level-left">
          <button class="like-button {% if item.liked %}liked{% endif %}" 
          onclick="toggleLike(this)" 
          data-post-id="{{ item.post_item.id }}" 
          data-url="{% url 'post:like-post' item.post_item.id %}">
          <i class="{% if item.liked %}fas{% else %}far{% endif %} fa-heart"></i>
          </button>

          <div class="post-likes">
            <span id="likes-count-{{ item.post_item.id }}">{{ item.post_item.likes }}</span>
          </div>

        </div>


      <div class="level-right">

      <button class="comment-button">
        <i class="far fa-comment"></i>
      </button>

      <div class="post-comments">
        <span id="comments-count-{{ item.post_item.id }}">{{ item.post_item.comment_count }}</span>
      </div>
      </div>

    </div>

</div>

</div>
</div>

<br>

{% endfor %}