{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Rooms</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>
<body>
    <section class="section">
        <div class="container">
            <h1 class="title is-1 has-text-centered">Nhắn Tin</h1>
            <div class="columns is-multiline">
                {% for item in results %}
                <div class="column is-one-third">
                    <div class="card">
                        <div class="card-image">
                            <figure>
                                {% if item.other_user.profile.picture %}
                                <img src="{{ item.other_user.profile.picture.url }}" alt="{{ item.other_user.get_short_name }}" class="image is-128x128">
                                {% else %}
                                <img src="{% static 'img/avatar_placeholder.png' %}" alt="{{ item.other_user.get_short_name }}" class="image is-128x128">
                                {% endif %}
                            </figure>
                        </div>
                        <div class="card-content">
                            <p class="title is-4">{{ item.other_user.get_short_name }}</p>
                            <p class="title is-6">Last updated: {{ item.room.lastest_update_time }}</p>
                            <p class="title is-6" style="color:red">Unread messages: {{ item.unread }}</p>
                        </div>
                        <footer class="card-footer">
                            <a href="{% url 'chat:room' item.other_user.id %}" class="card-footer-item">Join Room</a>
                        </footer>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
</body>
</html>
