{% load static %}
{% load humanize %}


  <div class="card">
  <div class="card-image">
    <figure class="image is-5by3">
      <a href="{{ post_item.get_absolute_url }}">
        <img src="{{ post_item.content.first.file.url }}" alt="Placeholder image">
      </a>
    </figure>


  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-48x48">
          {% if post_item.user.profile.picture %}
            <img src="{{ post_item.user.profile.picture.url }}" alt="Placeholder image">
          {% else %}
            <img src="{% static 'img/avatar_placeholder.png' %}" alt="Placeholder image">
          {% endif %}
        </figure>
      </div>
      <div class="media-content">
        {% if post_item.user.profile.first_name %}
          <a href="{% url 'profile' post_item.user.profile.slug %}"><p class="title is-4">{{ post_item.user.profile.first_name }} {{ post_item.user.profile.last_name }}</p></a>
        {% else %}
          <a href="{% url 'profile' post_item.user.profile.slug %}"><p class="title is-4">{{ post_item.user.get_short_name }}</p></a>
        {% endif %}

        <p class="subtitle is-6"><a href="{% url 'profile' post_item.user.profile.slug %}">@{{ post_item.user.get_short_name }}</a></p>

      {{ post_item.caption }}
      <p>{% for tag in post_item.tags.all %}<a href="{{ tag.get_absolute_url }}">#{{ tag }}</a>{% endfor %}</p>
      <br>
      <strong><small>{{ post_item.posted | naturaltime }}</small></strong>
      </div>


    <div class="media-right">

      <div class="level is-mobile mt-3">
        <div class="level-left">
          <button class="like-button {% if liked %}liked{% endif %}" 
          onclick="toggleLike(this)" 
          data-post-id="{{ post_item.id }}" 
          data-url="{% url 'post:like-post' post_item.id %}">
          <i class="{% if liked %}fas{% else %}far{% endif %} fa-heart"></i>
          </button>

          <div class="post-likes">
            <span id="likes-count-{{ post_item.id }}">{{ post_item.likes }}</span>
          </div>

        </div>


      <div class="level-right"

      <button class="comment-button">
        <i class="far fa-comment"></i>
      </button>

      <div class="post-comments">
        <span id="comments-count-{{ post_item.id }}">{{ post_item.comment_count }}</span>
      </div>

      </div>

    </div>

</div>



  </div>
</div>

<br>

